/**{margin: 0; 
	padding: 0;}*/
body{ 
	margin: 0; 
	padding: 0; }
/*header starts*/
header { 
	background-color: #121B2A

}

.wrapper { 
	overflow: hidden;
	margin: 0 auto;
	width: 80%;
		
}

.logo {
		
		width: 17%;	
		float:left;
}

.logo img {
	    width: 100%;
}

.menu {
		
		width: 70%;	
		float:right;
		margin-top: 30px;

}

.menu ul { float: right;
}

.menu ul li { 
	list-style: none;
	float: left;
}

.menu ul li a {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 17px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 18px;
    display: inline-block;
    transition: .3s;
}

.menu ul li a:hover {
	color: #0078BD;

}
.menu ul li:last-child a {
	padding-right: 0;

}
/*header ends*/
